/* sub2_1의 내용 콘텐츠 */
.main_menu li:nth-child(2) a{background:#333; color:#fc0;}
.sub_menu{overflow:hidden;}
.sub_menu li:nth-child(1) a{border-bottom:3px #333 solid}
.sub_menu li a{display:block; box-sizing:border-box; width:33.33%; float:left; text-align: center; background:#fff; color:#333; font-size:13px; padding:8px 0}

section.movie{padding:10px 2%;border:1px solid #d2d2d2; margin:0 5px 10px 5px;background:#fff; position:relative;line-height:1.5em;box-sizing:border-box; overflow:hidden;}
.movie video{width:100%;}
.movie h2{font-size:15px; color:#333; font-weight:600; padding:0 0 7px 1%;}
.movie h3{padding-top:10px;font-size:16px; font-weight:bold; text-align:center;}
.movie img{float:left; margin:20px 5% 0 3%;}
.movie .english{font-size:12px; text-align: center}
.text{padding:20px 3%;}
.readmore{display:block; font-weight:600;position:absolute; bottom:10px; right:20px; color:#333;}

.banner{overflow:hidden;margin-bottom:10px;background:#039;}
.banner a{display:block; width:100%; height:20px; padding:10px 0; text-align: center; font-size:14px;color:#fff; }
.banner img{margin-left:30%;float:left;}
.banner span{vertical-align:middle;float:left;}